{% extends 'base.html' %}

{% block title %}
Мои статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Мои статьи</h1>
    {% set user_articles = articles | selectattr("user_id", "equalto", current_user.id) | list %}

    {% if user_articles %}
        {% for el in user_articles %}
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
                <h2>{{ el.title }}</h2>
                <p>{{ el.intro }}</p>
                <p><b>{{ el.date.date() }}</b></p>
                <a href="/posts/{{ el.id }}" class="btn btn-warning">Читать</a>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас пока нет статей</p>
    {% endif %}
</div>
{% endblock %}
